@*@model MathLib.GasFuel*@
<!DOCTYPE html>
<html>
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>
<body>

    <div class="container">


        <h2>Итоговые расчетные показатели горения газообразного топлива</h2>

        <a asp-action="Report" asp-controller="Home" asp-route-id="@ViewBag.inputId">Сформировать отчет</a>

        <h3>Химический состав продуктов горения, %</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Содежание CO2 в продуктах горения, % CO2</td>
                        <td>@Math.Round(ViewBag.CO2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.CO2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание SO2 в продуктах горения, % SO2</td>
                        <td>@Math.Round(ViewBag.SO2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.SO2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание H2O в продуктах горения, % H2O</td>
                        <td>@Math.Round(ViewBag.H2Oalfa, 2)</td>
                        <td>@Math.Round(ViewBag.H2Oalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание N2 в продуктах горения, % N2</td>
                        <td>@Math.Round(ViewBag.N2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.N2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание CO в продуктах горения (диссоциация), % CO</td>
                        <td>@Math.Round(ViewBag.COalfa, 2)</td>
                        <td>@Math.Round(ViewBag.COalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание H2 в продуктах горения (диссоциация), % H2</td>
                        <td>@Math.Round(ViewBag.H2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.H2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание O2 в продуктах горения, % O2</td>
                        <td>@Math.Round(ViewBag.O2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.O2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Общая процентная сумма всех компонентов (должна быть 100 %), % Сумма</td>
                        <td>@Math.Round(ViewBag.Sumalfa, 2)</td>
                        <td>@Math.Round(ViewBag.Sumalfa2, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет теплоемкости топлива и воздуха</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>Величина</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Теплота сгорания топлива, кДж/(м3) Q н.р.</td>
                        <td>@Math.Round(ViewBag.Qнр, 2)</td>
                    </tr>
                    <tr>
                        <td>Удельная теплоемкость газообразного топлива, кДж/(м3 * °С) C_топл</td>
                        <td>@Math.Round(ViewBag.Cтопл, 2)</td>
                    </tr>
                    <tr>
                        <td>Удельная теплоемкость воздуха, кДж/(м3 * °С) C_возд</td>
                        <td>@Math.Round(ViewBag.Cвозд, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание воздуха в продуктах горения, % </td>
                        <td>@Math.Round(ViewBag.ВоздВПГ, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет температуры горения</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Теоретическая температура, °С</td>
                        <td>@Math.Round(ViewBag.Temp_alfa)</td>
                        <td>@Math.Round(ViewBag.Temp_alfa2)</td>
                    </tr>
                    <tr>
                        <td>Балансовая температура, °С</td>
                        <td>@Math.Round(ViewBag.Tbalance_alfa)</td>
                        <td>@Math.Round(ViewBag.Tbalance_alfa2)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn btn-primary" type="button" value="Show" onclick="this.value=this.value=='Show'?'Hide':'Show';">Промежуточные показатели</button>
        <div class="spoiler">
                <h2>Промежуточные расчетные показатели</h2>

            <h3>Массы, %</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование показателя, ед. изм.</th>
                            <th>Величина</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Рабочая масса Rh2o,%</td>
                            <td>@Math.Round(ViewBag.Rh2o, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса CO2,%</td>
                            <td>@Math.Round(ViewBag.Rco2, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса CO,%</td>
                            <td>@Math.Round(ViewBag.Rco, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса H2,%</td>
                            <td>@Math.Round(ViewBag.Rh2, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса CH4,%</td>
                            <td>@Math.Round(ViewBag.Rch4, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса C2H6,%</td>
                            <td>@Math.Round(ViewBag.Rc2h6, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса C3H8,%</td>
                            <td>@Math.Round(ViewBag.Rc3h8, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса C4H10,%</td>
                            <td>@Math.Round(ViewBag.Rc4h10, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса C5H12,%</td>
                            <td>@Math.Round(ViewBag.Rc5h12, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса H2S,%</td>
                            <td>@Math.Round(ViewBag.Rh2s, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса N2,%</td>
                            <td>@Math.Round(ViewBag.RN2, 2)</td>
                        </tr>
                        <tr>
                            <td>Рабочая масса H2O,%</td>
                            <td>@Math.Round(ViewBag.Sumishdanrab, 2)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Расчет количества окислителя на горение, м3/м3</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование показателя, ед. изм.</th>
                            <th>Величина</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Теоретический расход окислителя на горение Lo, м3/м3 Lo</td>
                            <td>@Math.Round(ViewBag.Lo, 2)</td>
                        </tr>
                        <tr>
                            <td>Действительный расход окислителя на горение L_alfa, м3/м3 L_alfa</td>
                            <td>@Math.Round(ViewBag.Lalfa, 2)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3>Расчет количества продуктов горения, м3/м3</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование показателя, ед. изм.</th>
                            <th>Величина</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Количество CO2 в продуктах горения, м3/м3 Vo_CO2</td>
                            <td>@Math.Round(ViewBag.Vo_CO2, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество SO2 в продуктах горения, м3/м3 Vo_SO2</td>
                            <td>@Math.Round(ViewBag.Vo_SO2, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество H2O в продуктах горения, м3/м3 Vo_H2O</td>
                            <td>@Math.Round(ViewBag.Vo_H2O, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество N2 в продуктах горения, м3/м3 Vo_N2</td>
                            <td>@Math.Round(ViewBag.Vo_N2, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество CO в продуктах горения, м3/м3 Vo_CO</td>
                            <td>@Math.Round(ViewBag.Vo_CO, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество H2 в продуктах горения, м3/м3 Vo_H2</td>
                            <td>@Math.Round(ViewBag.Vo_H2, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество O2 в продуктах горения, м3/м3 Vo_O2</td>
                            <td>@Math.Round(ViewBag.Vo_O2, 2)</td>
                        </tr>
                        <tr>
                            <td>Теоретический объем продуктов горения, м3/м3 Vo</td>
                            <td>@Math.Round(ViewBag.Vo, 2)</td>
                        </tr>
                        <tr>
                            <td>Практический выход N2 при избытке окислителя, м3/м3 V_alfa_N2</td>
                            <td>@Math.Round(ViewBag.V_alfa_N2, 2)</td>
                        </tr>
                        <tr>
                            <td>Количество избыточного кислорода в продуктах горения, м3/м3 V_O2_izb</td>
                            <td>@Math.Round(ViewBag.V_O2_izb, 2)</td>
                        </tr>
                        <tr>
                            <td>Действительное количество продуктов горения, м3/м3 V_alfa</td>
                            <td>@Math.Round(ViewBag.V_alfa, 2)</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            

       

            <h3>Расчет энтальпии продуктов горения, кДж/м3</h3>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Наименование показателя, ед. изм.</th>
                            <th>alfa=1</th>
                            <th>alfa>1</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Химическая энтальпия топлива, кДж/м^3 i_хим</td>
                            <td>@Math.Round(ViewBag.i_химalfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_химalfa2, 2)</td>
                        </tr>
                        <tr>
                            <td>Физическая энтальпия подогрева топлива, кДж/м^3 i_топл</td>
                            <td>@Math.Round(ViewBag.i_топлalfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_топлalfa2, 2)</td>
                        </tr>
                        <tr>
                            <td>Физическая энтальпия подогрева воздуха, кДж/м^3 i_возд</td>
                            <td>@Math.Round(ViewBag.i_воздalfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_воздalfa2, 2)</td>
                        </tr>
                        <tr>
                            <td>Общая (теоретическая) энтальпия продуктов горения, кДж/м^3 i_общ_т</td>
                            <td>@Math.Round(ViewBag.i_общ_т_alfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_общ_т_alfa2, 2)</td>
                        </tr>
                        <tr>
                            <td>Энтальпия химического недожога, кДж/м^3 i_з</td>
                            <td>@Math.Round(ViewBag.i_з_alfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_з_alfa2, 2)</td>
                        </tr>
                        <tr>
                            <td>Общая балансовая энтальпия продуктов горения, кДж/м^3 i_общ_б</td>
                            <td>@Math.Round(ViewBag.i_общ_б_alfa, 2)</td>
                            <td>@Math.Round(ViewBag.i_общ_б_alfa2, 2)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <br />
    <br />
    <h1 class="text-center">Расчет температур</h1>
    <canvas id="myChart1" style="width: 400px; height: 400px;"></canvas>
    <br />
    <br />

    @*<a href="@Url.Action("Excel", "Home")">Скачать решение в Excel</a>*@
    <p></p>
</body>
</html>

<script src="~/js/Chart.js"></script>
<script>
    var graphDataNames = ['Теоретическая температура при alfa=1, °С', 'Теоретическая температура при alfa>1, °С', 'Балансовая температура при alfa=1, °С', 'Балансовая температура при alfa>1, °С'];
    var graphDataSums = @Html.Raw(ViewBag.lists);
    var ctx = document.getElementById('myChart1').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: graphDataNames,
            datasets: [{
                lineTension: 0,
                data: graphDataSums,
                backgroundColor: [
                    '#0080FE',
                    '#00A86B',
                    '#997950',
                    '#7852A9'
                ],
                borderColor: [
                    '#0080FE',
                    '#00A86B',
                    '#997950',
                    '#7852A9'
                ],
                borderWidth: 1,
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
               
            }
        }
    });
</script>


<style type="text/css">
    .spoiler {
        overflow: hidden;
    }

    .btn-primary[value="Show"] + .spoiler > div {
        margin-top: -200%;
    }

    .btn-primary[value="Hide"] + .spoiler {
        padding: 20px;
    }
</style>