@*@model MathLib.LiquidFuel*@
<!DOCTYPE html>
<html>
<head>
@*    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
</head>
<body>

    <div class="container">
        <h2>Расчетные показатели твердое жидкое</h2>

        <h3>Массы, %</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>Величина</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Рабочая масса C,%</td>
                        <td>@Math.Round(ViewBag.Rc, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса H,%</td>
                        <td>@Math.Round(ViewBag.Rh, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса S,%</td>
                        <td>@Math.Round(ViewBag.Rs, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса N,%</td>
                        <td>@Math.Round(ViewBag.Rn, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса O,%</td>
                        <td>@Math.Round(ViewBag.Ro, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса Wp,%</td>
                        <td>@Math.Round(ViewBag.Rwp, 2)</td>
                    </tr>
                    <tr>
                        <td>Рабочая масса Ap,%</td>
                        <td>@Math.Round(ViewBag.Rap, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет количества окислителя на горение, м3/кг</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>Величина</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Теоретический расход окислителя на горение V_O2, м3/м3 Lo</td>
                        <td>@Math.Round(ViewBag.V_O2, 2)</td>
                    </tr>
                    <tr>
                        <td>Действительный расход окислителя на горение Lo_св, м3/м3 L_alfa</td>
                        <td>@Math.Round(ViewBag.Lo_св, 2)</td>
                    </tr>
                    <tr>
                        <td>Теоретический расход окислителя на горение Lo_вв, м3/м3 Lo</td>
                        <td>@Math.Round(ViewBag.Lo_вв, 2)</td>
                    </tr>
                    <tr>
                        <td>Действительный расход окислителя на горение L_alfa_вв, м3/м3 L_alfa</td>
                        <td>@Math.Round(ViewBag.L_alfa_вв, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет количества продуктов горения, м3/м3</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Количество CO2 в продуктах горения, м3/м3 Vo_CO2</td>
                        <td>@Math.Round(ViewBag.Vo_CO2_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_CO2_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество SO2 в продуктах горения, м3/м3 Vo_SO2</td>
                        <td>@Math.Round(ViewBag.Vo_SO2_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_SO2_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество H2O в продуктах горения, м3/м3 Vo_H2O</td>
                        <td>@Math.Round(ViewBag.Vo_H2O_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_H2O_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество N2 в продуктах горения, м3/м3 Vo_N2</td>
                        <td>@Math.Round(ViewBag.Vo_N2_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_N2_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество CO в продуктах горения, м3/м3 Vo_CO</td>
                        <td>@Math.Round(ViewBag.Vo_CO_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_CO_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество H2 в продуктах горения, м3/м3 Vo_H2</td>
                        <td>@Math.Round(ViewBag.Vo_H2_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_H2_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество O2 в продуктах горения, м3/м3 Vo_O2</td>
                        <td>@Math.Round(ViewBag.Vo_O2_alfa1_g, 2)</td>
                        <td>@Math.Round(ViewBag.Vo_O2_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество Vo в продуктах горения, м3/м3 Vo</td>
                        <td colspan="2" align="center">@Math.Round(ViewBag.Vo, 2)</td>
                    </tr>
                    <tr>
                        <td>Практический выход N2 при избытке окислителя, м3/м3 V_O2_izd_alfa2_g</td>
                        <td colspan="2" align="center">@Math.Round(ViewBag.V_O2_izd_alfa2_g, 2)</td>
                    </tr>
                    <tr>
                        <td>Количество избыточного кислорода в продуктах горения, м3/м3 V_alfa_g</td>
                        <td colspan="2" align="center">@Math.Round(ViewBag.V_alfa_g, 2)</td>
                    </tr>

                </tbody>
            </table>
        </div>
        <h3>Химический состав и теплоемкость продуктов горения, %</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Содежание CO2 в продуктах горения, % CO2</td>
                        <td>@Math.Round(ViewBag.CO2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.CO2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание SO2 в продуктах горения, % SO2</td>
                        <td>@Math.Round(ViewBag.SO2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.SO2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание H2O в продуктах горения, % H2O</td>
                        <td>@Math.Round(ViewBag.H2Oalfa, 2)</td>
                        <td>@Math.Round(ViewBag.H2Oalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание N2 в продуктах горения, % N2</td>
                        <td>@Math.Round(ViewBag.N2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.N2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание CO в продуктах горения (диссоциация), % CO</td>
                        <td>@Math.Round(ViewBag.COalfa, 2)</td>
                        <td>@Math.Round(ViewBag.COalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содержание H2 в продуктах горения (диссоциация), % H2</td>
                        <td>@Math.Round(ViewBag.H2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.H2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Содежание O2 в продуктах горения, % O2</td>
                        <td>@Math.Round(ViewBag.O2alfa, 2)</td>
                        <td>@Math.Round(ViewBag.O2alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Общая процентная сумма всех компонентов (должна быть 100 %), % Сумма</td>
                        <td>@Math.Round(ViewBag.Sumalfa, 2)</td>
                        <td>@Math.Round(ViewBag.Sumalfa2, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет теплоемкости топлива и воздуха</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>Величина</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Теплота сгорания топлива, кДж/(м3) Q н.р.</td>
                        <td>@Math.Round(ViewBag.Qнр)</td>
                    </tr>
                    <tr>
                        <td>Удельная теплоемкость газообразного топлива, кДж/(м3 * С) C_топл</td>
                        <td>@Math.Round(ViewBag.Cтопл, 2)</td>
                    </tr>
                    <tr>
                        <td>Удельная теплоемкость воздуха, кДж/(м3 * С) C_возд</td>
                        <td>@Math.Round(ViewBag.Cвозд, 2)</td>
                    </tr>
                    <tr>
                        <td>Воздух в ПГ, % </td>
                        <td>@Math.Round(ViewBag.ВоздВПГ, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет энтальпии продуктов горения, кДж/м3</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Химическая энтальпия топлива, кДж/м^3 i_хим</td>
                        <td>@Math.Round(ViewBag.i_химalfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_химalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Физическая энтальпия подогрева топлива, кДж/м^3 i_топл</td>
                        <td>@Math.Round(ViewBag.i_топлalfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_топлalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Физическая энтальпия подогрева воздуха, кДж/м^3 i_возд</td>
                        <td>@Math.Round(ViewBag.i_воздalfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_воздalfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Общая (теоретическая) энтальпия продуктов горения, кДж/м^3 i_общ_т</td>
                        <td>@Math.Round(ViewBag.i_общ_т_alfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_общ_т_alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Энтальпия химического недожога, кДж/м^3 i_з</td>
                        <td>@Math.Round(ViewBag.i_з_alfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_з_alfa2, 2)</td>
                    </tr>
                    <tr>
                        <td>Общая балансовая энтальпия продуктов горения, кДж/м^3 i_общ_б</td>
                        <td>@Math.Round(ViewBag.i_общ_б_alfa, 2)</td>
                        <td>@Math.Round(ViewBag.i_общ_б_alfa2, 2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h3>Расчет температуры горения</h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование показателя, ед. изм.</th>
                        <th>alfa=1</th>
                        <th>alfa>1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Теоретическая температура, С</td>
                        <td>@Math.Round(ViewBag.Temp_alfa)</td>
                        <td>@Math.Round(ViewBag.Temp_alfa2)</td>
                    </tr>
                    <tr>
                        <td>Балансовая температура, С</td>
                        <td>@Math.Round(ViewBag.Tbalance_alfa)</td>
                        <td>@Math.Round(ViewBag.Tbalance_alfa2)</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    @*   <br />
    <br />

    <canvas id="myChart1" style="width: 100%; height: 400px;"></canvas>

    <script src="~/js/Chart.js"></script>
    <script>
    var graphDataNames = ['Сумма', 'Произведение'];
    var graphDataSums = @Html.Raw(ViewBag.lists);
    var ctx = document.getElementById('myChart1').getContext('2d');
    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
    labels: graphDataNames,
    datasets: [{
    label: 'Результаты арифметических действий',
    lineTension: 0,
    data: graphDataSums,
    backgroundColor: 'rgba(0, 38, 255, 1)',
    borderColor: [
    'blue',
    'blue'
    ],
    borderWidth: 1,
    }]
    },
    options: {
    scales: {
    yAxes: [{
    ticks: {
    beginAtZero: true,
    fontColor: 'Black'
    },
    }],
    xAxes: [{
    ticks: {
    fontColor: 'Black'
    },
    }]
    },
    legend: {
    labels: {
    fontColor: "Black",
    fontSize: 14
    }
    }
    }
    });
    </script>



    <br />
    <br />
    *@


    @*<a href="@Url.Action("Excel", "Home")">Скачать решение в Excel</a>*@
    <p></p>
</body>
</html>